img{
    width:150px;
    height:150px;
    border-radius: 50%;
}
.userInfo{
    border-spacing: 20px;
}
.workExp{
    border-spacing: 10px;
    
}
th,td{
padding-left:5px;
padding-right:5px;
}